<div class="maps-contact">
    <div class="maps" id="map">
        
    </div>
    <div class="contact-wrap">
        <div class="back-to-top" >
            <i class="fa fa-arrow-up" id="scroll-top"></i>
        </div>
        <div class="address-sec">
            <div class="address-sec-wrap contacts">
                <div class="heading add-heading">
                    <h1>Address</h1>
                </div>
                <div class="address-loc">
                    <h2>Plaza de Lorenc Villalonga. 4 07001 . Palma
                        de Mallorca Espana
                    </h2>
                </div>
            </div>
        </div>
        <div class="phn-no-sec">
            <div class="phn-no-wrap contacts">
                <div class="heading phn-heading">
                    <h1>Contact us</h1>
                </div>
                <div class="phn-no">
                    <p>+34 971 67 77 70</p>
                    <p>info@ellorence.com</p>
                </div>
            </div>
        </div>
        <div class="how-to-arrive-sec">
            <div class="how-to-arrive-wrap contacts">
                <div class="heading arrive-heading">
                    <h1>How to arrive</h1>
                </div>
                <div class="arrive-route">
                    <h1>We show you the easiest way to arrive safely to El Lorrence from the airport</h1>
                </div>
            </div>
        </div>
        <div class="social-links-sec">
            <div class="social-link-wrap contacts">
                <div class="heading social-link-heading">
                    <h1>Follow us</h1>
                </div>
                <div class="social-link">
                    <ul class="links-list">
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>