<div class = "container">
    <div class="home-container-wrap">
        <div class="hotel-title main-title">
            <h1>el llorenc</h1>
            <p>parc de la mar</p>
        </div>
        <div class="main-scroll" id="qqq">
            <div class="wrap-main-scroll">
                <div class="scroll-text">
                    <span class="scroll-main-text">
                        Know El Llorenc
                    </span>
                </div>
                <div class="scroll-icon">
                    <i class="fa fa-arrow-down" id="info-down-icon" aria-hidden="true"></i>
                </div>
                <div class="scroll-secound-text">
                    <h2>Your Design Hotel In Palma</h2>
                </div>
            </div>
        </div>
        <div class="topadvantages-point big-wrapper">
            <div class="topadvantages-module show">
                <div class="wrap-topadvantages-module" style="display: flex;">
                    <div class="topadvantages-header">
                       <div class="topadvantages-header-wrap">
                        <p class="topadvantages-title">
                            Advantages
                        </p>
                        <p class="topadvantages-subtitle">
                            Booking Directly With Us
                        </p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>