<div class = "container">
    <div class="home-container-wrap">
        <div class="hotel-title main-title">
            <h1>el llorenc</h1>
            <p>parc de la mar</p>
        </div>
        <div class="main-scroll" id="qqq">
            <div class="wrap-main-scroll">
                <div class="scroll-text">
                    <span class="scroll-main-text">
                        Know El Llorenc
                    </span>
                </div>
                <a href="#section-2">
                    <div class="scroll-icon">
                        <i class="fa fa-arrow-down" id="info-down-icon" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="scroll-secound-text">
                    <h2>Your Design Hotel In Palma</h2>
                </div>
            </div>
        </div>
        <div class="topadvantages-point big-wrapper">
            <div class="topadvantages-module show">
                <div class="wrap-topadvantages-module" style="display: flex;">
                    <div class="topadvantages-header">
                       <div class="topadvantages-header-wrap">
                        <p class="topadvantages-title">
                            Advantages
                        </p>
                        <p class="topadvantages-subtitle">
                            Booking Directly With Us
                        </p>
                       </div>
                    </div>
                    <div class="advantage-wrapper">
                        <div class="advantages">
                            <div class="advantage-1">
                                <div class="advantage-1-wrap">
                                    <i class="fa fa-bicycle" aria-hidden="true" id="cycle"></i>
                                    <p>Our Expirence</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-2">
                                <div class="advantage-2-wrap">
                                    <i class="fa fa-bath" aria-hidden="true" id="spa"></i>
                                     <p>Access to the spa included</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-3">
                                <div class="advantage-3-wrap">
                                    <i class="fa fa-gift" aria-hidden="true" id="gift"></i>
                                     <p>Farewell Gift</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-4">
                                <div class="advantage-4-wrap">
                                    <i class="fa fa-beer" aria-hidden="true" id="beer"></i>
                                     <p>Firstminibar included</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-5">
                                <div class="advantage-5-wrap">
                                    <i class="fa fa-money" aria-hidden="true" id="money"></i>
                                    <p>Best price guaranteed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hwg-section-2" id="section-2">
            <div class="short-intro-wrap section-2-wrap">
                <h1>live the experience</h1>
                <p class="random-text-2">A magical location facing the Medetarian Sea and next to the Palma Cathedral</p>
                <h2>El Llorenç is more than a hotel – it is a host that will make you feel welcome and cared for</h2>
                <div class="more-info-btn">
                        <h2 class="border-animate" id="showhidebtn">More info</h2>
                </div>
                <div class="more-info-section hide-show" id="moreinfo-showhide" style="display: none;">
                    <span class="hide-show-title">
                        <p>El llorenc</p>
                    </span>
                    <span class="location-text">
                        <h1 class="location">YOUR HOTEL IN PALMA</h1>
                    </span>
                    <span class="boosting-text">
                        <h2 class="boost">Fabulous, Surprising and inviting</h2>
                    </span>
                    <div class="hwg-hideshow">
                        <div class="hwg-hideshow-left">
                            <div class="left-section-title-1 title">
                                <h2 class="title-head">El Llorenc philosophy</h2>
                                <span class="philosophy-ans">
                                    <p class="philosophy">In the heart of the emblematic La Calatrava district, right in the centre of Palma de Mallorca, nestles a truly outstanding hotel, where beauty and comfort converge to offer a one-of-a-kind experience.
                                        <br><br>
                                        An exclusive and welcoming 33 room establishment designed to surprise and delight all its guests. El Llorenç is more than just a hotel. Indeed, it embodies a perfect host, eager to cater to your every need and make you feel truly special. The quintessential city hotel offering a full range of services tailored to meet guests’ needs. A vision based on meeting individual requirements and doing its utmost to provide myriad alternatives, from action-packed activities to total rest and relaxation.
                                        <br><br>
                                        At El Llorenç our aim is to show you the very best Majorca has to offer, making you feel part of the island. Allow us to take you on a journey in time through the streets that line La Calatrava, a modern-day cultural melting pot but also the birthplace of the authentic origin of our island.
                                        <br><br>
                                        We want to surprise and delight you, providing you with a stay that far exceeds your expectations and wishes.</p>
                                </span>
                            </div>
                            <div class="left-section-title-2 title">
                                <h2 class="title-head">La Calatrava - Palma</h2>
                                <span class="palma-ans">
                                    <p class="palma">
                                        Much of this district is built on the site of Palma’s ancient walls, which the locals call Dalt Murada. It is renowned for its unique layout, crisscrossed by the narrow streets of the ancient Moorish city and El Call (the former Jewish quarter). Its striking layout, bustling narrow streets, colours and the wonderful light that floods every corner, together with the buildings and historic palaces all bring this marvellous area and its unique character to life.
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div class="hwg-hideshow-right">
                            <div class="right-section-title-1 title">
                                <h2 class="title-head">Rooftop</h2>
                                <span class="rooftop-ans">
                                    <p class="rooftop">
                                        The terrace boasts the city’s longest infinity pool, part of a multipurpose space designed for leisure and relaxation. Other facilities include a cocktail and gourmet snack bar, as well as a sun terrace furnished with comfortable sunbeds and Balinese beds providing shade from the sun.
                                    </p>
                                </span>
                            </div>
                            <div class="right-section-title-2 title">
                                <h2 class="title-head">DINS Santi Taura</h2>
                                <span class="santi-ans">
                                    <p class="santi">
                                        With the opening of El Llorenç, DINS will be moving from the former carpenter’s workshop in Lloseta, where operations first began, to new premises in the heart of Palma’s La Calatrava district, an authentic cultural melting pot that has influenced recipes that have experienced an authentic revival under the skill and know-how of Santi Taura.
                                    </p>
                                </span>
                            </div>
                            <div class="right-section-title-3 title">
                                <h2 class="title-head">Wellness</h2>
                                <span class="wellness-ans">
                                    <p class="wellness">
                                        An oasis of peace and calm in which to enjoy our 14 metre pool and a wide choice of wellness and beauty treatments created by our experienced therapists.
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hideshow-footer">
                        <span class="hideshow-footer-title">
                            <h1 class="footer-header">LIVE EL LLORENÇ EXPERIENÇE</h1>
                        </span>
                        <div class="hide-btn">
                            <p class="hide-show-div" id="hide-button">HIDE</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <div class="glide__slides">
                <div class="glide__slide">
                    <div class="hotel-slider-left hotel-left-1">
                        <div class="hotel-left-title">
                            <h2 class="small-title">Our Rooms</h2>
                        </div>
                        <div class="hotel-main-title">
                            <h1 class="main-title">Standard patio</h1>
                            <p class="hotel-subtitle">The Magic of Mallorcan patios</p>
                            <p class="hotel-description">
                                A combination of classic and modern design,
                                where you sense the history of those once present in
                                the old palaces of the city, offering a stay wher time
                                appears to standstill.
                            </p>
                        </div>
                        <div class="room-button">
                            <div class="room-button-wrap">
                                <div class="see-room">
                                    <h1 class="see-room-btn">See room</h1>
                                </div>
                                <div class="reserve">
                                    <h1 class="reserve-btn">Reserve</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-slider-right hotel-right-1">
                        <div class="hotel-right-wrap">
                            <img src="../../assets/images/431-roomselllorenc08.jpg">
                        </div>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="hotel-slider-left hotel-left-2">
                        <div class="hotel-left-title">
                            <h2 class="small-title">Our Rooms</h2>
                        </div>
                        <div class="hotel-main-title">
                            <h1 class="main-title">Standard bastio</h1>
                            <p class="hotel-subtitle">The charm of the neighbourhood</p>
                            <p class="hotel-description">
                                These cozy rooms offer views of a traditional charming
                                alley in the historic La Calatrava district of Palma
                            </p>
                        </div>
                        <div class="room-button">
                            <div class="room-button-wrap">
                                <div class="see-room">
                                    <h1 class="see-room-btn">See room</h1>
                                </div>
                                <div class="reserve">
                                    <h1 class="reserve-btn">Reserve</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-slider-right hotel-right-2">
                        <div class="hotel-right-wrap">
                            <img src="../../assets/images/432-roomselllorenc2.jpg">
                        </div>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="hotel-slider-left hotel-left-3">
                        <div class="hotel-left-title">
                            <h2 class="small-title">Our Rooms</h2>
                        </div>
                        <div class="hotel-main-title">
                            <h1 class="main-title">Signature</h1>
                            <p class="hotel-subtitle">Much More Than a Room</p>
                            <p class="hotel-description">
                                Carefully designed to elegently combine the classic and
                                the mordern to gaurantee guests a unique stay offering
                                views of the old city wall.
                            </p>
                        </div>
                        <div class="room-button">
                            <div class="room-button-wrap">
                                <div class="see-room">
                                    <h1 class="see-room-btn">See room</h1>
                                </div>
                                <div class="reserve">
                                    <h1 class="reserve-btn">Reserve</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-slider-right hotel-right-3">
                        <div class="hotel-right-wrap">
                            <img src="../../assets/images/433-roomselllorenc3.jpg">
                        </div>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="hotel-slider-left hotel-left-4">
                        <div class="hotel-left-title">
                            <h2 class="small-title">Our Rooms</h2>
                        </div>
                        <div class="hotel-main-title">
                            <h1 class="main-title">Deluxe</h1>
                            <p class="hotel-subtitle">Space, Design and Tradition</p>
                            <p class="hotel-description">
                                These spacious rooms offer an elegent design combined 
                                with tradition, thanks to their viewsof tradition
                                Mallorcan patios. 
                            </p>
                        </div>
                        <div class="room-button">
                            <div class="room-button-wrap">
                                <div class="see-room">
                                    <h1 class="see-room-btn">See room</h1>
                                </div>
                                <div class="reserve">
                                    <h1 class="reserve-btn">Reserve</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-slider-right hotel-right-4">
                        <div class="hotel-right-wrap">
                            <img src="../../assets/images/434-roomselllorenc4.jpg">
                        </div>
                    </div>
                </div>
                <div class="glide__slide">
                    <div class="hotel-slider-left hotel-left-5">
                        <div class="hotel-left-title">
                            <h2 class="small-title">Our Rooms</h2>
                        </div>
                        <div class="hotel-main-title">
                            <h1 class="main-title">Juniour Suite</h1>
                            <p class="hotel-subtitle">A Unique Stay</p>
                            <p class="hotel-description">
                                A felling of spaciousness, owing to the large windows
                                ,offers a unique stay full of comfort 
                            </p>
                        </div>
                        <div class="room-button">
                            <div class="room-button-wrap">
                                <div class="see-room">
                                    <h1 class="see-room-btn">See room</h1>
                                </div>
                                <div class="reserve">
                                    <h1 class="reserve-btn">Reserve</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hotel-slider-right hotel-right-4">
                        <div class="hotel-right-wrap">
                            <img src="../../assets/images/435-roomselllorenc5.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
    </div>
    <section id="dins">
        <div class="dins-wrap" data-text="ayush">
            <div class="dins-text">
                <div class="dins-title">
                    <span id="first-text">D</span><span id="secound-text">I</span><span id="third-text">N</span><span id="fourth-text">S</span>
                </div>
                <div class="dins-sub-heading">
                    <h1 class="dins-subheading">Santi Taura</h1>
                </div>
                <div class="dins-compliment">
                    <h1 class="compliments">Roots , History and products</h1>
                </div>
                <div class="dins-description">
                    <h1 class="dins-desp">
                        We offer a gastronomic journey through our history,
                        interpreting popular and classic recipes of Balearic
                        cuisine. Using exclusive products meticulously
                        prepared that respects the changing of the 
                        season using ingredients in their prime. 
                    </h1>
                </div>
                <div class="dins-btn">
                    <h1 class="dins-button">Read More</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="facility-glide">
        <div class="facility__track" data-glide-el="track">
            <div class="facility__slides">
                <div class="facility__slide">
                    <div class="facility-slider-left facility-left-1">
                        <div class="facility-left-wrap">
                            <img src="../../assets/images/248-rooftop-descubre.jpg">
                        </div>
                    </div>
                    <div class="facility-slider-right facility-right-1">
                        <div class="facility-right-title">
                            <h2 class="facility-small-title">Discover</h2>
                        </div>
                        <div class="facility-main-title">
                            <h1 class="main-title-facility">Rooftop</h1>
                            <p class="facility-subtitle">Road to Stars</p>
                            <p class="facility-description">
                               With an incomparable 360deg view, a unique 
                               infinity pool oriented towards the bay of palma
                               , and the best envionment to relax with a cocktail
                               and contemplate the constellation of lights
                               and stars that illuminate the city.
                            </p>
                        </div>
                        <div class="facility-button">
                            <div class="facility-button-wrap">
                                <div class="more-info">
                                    <h1 class="more-info-button">More Info</h1>
                                </div>
                                <div class="menu">
                                    <h1 class="menu-btn">See Menu</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="facility__slide">
                    <div class="facility-slider-left facility-left-1">
                        <div class="facility-left-wrap">
                            <img src="../../assets/images/250-spa-el-llorenc04.jpg">
                        </div>
                    </div>
                    <div class="facility-slider-right facility-right-1">
                        <div class="facility-right-title">
                            <h2 class="facility-small-title">Discover</h2>
                        </div>
                        <div class="facility-main-title">
                            <h1 class="main-title-facility">Wellness</h1>
                            <p class="facility-subtitle">An oasis of peace and tranquility</p>
                            <p class="facility-description">
                               Relax and let yourself be pampered in a serene Space
                               that will carry you to the time of Arab baths
                            </p>
                        </div>
                        <div class="facility-button">
                            <div class="facility-button-wrap">
                                <div class="more-info">
                                    <h1 class="more-info-button">More Info</h1>
                                </div>
                                <div class="menu">
                                    <h1 class="menu-btn">See Menu</h1>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="facility__slide">
                    <div class="facility-slider-left facility-left-1">
                        <div class="facility-left-wrap">
                            <img src="../../assets/images/249-restaurantel-llorenc01-copia.jpg">
                        </div>
                    </div>
                    <div class="facility-slider-right facility-right-1">
                        <div class="facility-right-title">
                            <h2 class="facility-small-title">Discover</h2>
                        </div>
                        <div class="facility-main-title">
                            <h1 class="main-title-facility">Gastronomy</h1>
                            <p class="facility-subtitle">The best option throughout the day</p>
                            <p class="facility-description">
                             Get carried away by a gastronomic journey linked to 
                             your roots and our Balearic past from the modern day-point
                             of view all with unqiue seals of DINS santi taura;or
                             alernatively, enjoy a more international gastronomic
                             offer in The Rooftop Cocktail Bar.
                            </p>
                        </div>
                        <div class="facility-button">
                            <div class="facility-button-wrap">
                                <div class="more-info">
                                    <h1 class="more-info-button">More Info</h1>
                                </div>
                                <div class="menu">
                                    <h1 class="menu-btn">See Menu</h1>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="facility__slide">
                    <div class="facility-slider-left facility-left-1">
                        <div class="facility-left-wrap">
                            <img src="../../assets/images/194-eventosll.jpg">
                        </div>
                    </div>
                    <div class="facility-slider-right facility-right-1">
                        <div class="facility-right-title">
                            <h2 class="facility-small-title">Discover</h2>
                        </div>
                        <div class="facility-main-title">
                            <h1 class="main-title-facility">Events</h1>
                            <p class="facility-subtitle">The opportunity to create experince.</p>
                            <p class="facility-description">
                               We know gastronomy is one of the most 
                               important elements of an event, thats why we take care to 
                               customize a personalised gastronomic proposal 
                                for whatever kind of ocassion. Tell us your idea!
                            </p>
                        </div>
                        <div class="facility-button">
                            <div class="facility-button-wrap">
                                <div class="more-info">
                                    <h1 class="more-info-button">More Info</h1>
                                </div>
                                <div class="menu">
                                    <h1 class="menu-btn">See Menu</h1>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

        <div class="facility__arrows" data-glide-el="controls">
            <button class="facility__arrow facility__arrow--left" data-glide-dir="<">prev</button>
            <button class="facility__arrow facility__arrow--right" data-glide-dir=">">next</button>
        </div>
    </div>
    <section class="offers-t">
        <div class="offers-heading">
            <h1 class="offer-title">Offers</h1>
            <span>The best way to know Mallorca</span>
        </div>
    </section>
    <div class="offer">
        <div class="offer__track" data-glide-el="track">
            <div class="offer__slides">
                <div class="offer__slide">
                    <div class="offers offer-1">
                        <div class="offers-wrap offer-1-sub-1-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-1-sub-2-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-1-sub-3-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer__slide">
                    <div class="offers offer-2">
                        <div class="offers-wrap offer-2-sub-1-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-2-sub-2-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-2-sub-3-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer__slide">
                    <div class="offers offer-3">
                        <div class="offers-wrap offer-3-sub-1-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-3-sub-2-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-3-sub-3-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer__slide">
                   <div class="offers offer-4">
                        <div class="offers-wrap offer-4-sub-1-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-4-sub-2-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                        <div class="offers-wrap offer-4-sub-3-wrap">
                            <div class="offer-offer-btn">
                                <h1 class="offer-offer-button">See Offer</h1>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="offer__arrows" data-glide-el="controls">
            <button class="offer__arrow offer__arrow--left" data-glide-dir="<">prev</button>
            <button class="offer__arrow offer__arrow--right" data-glide-dir=">">next</button>
        </div>
    </div>
    
</div>

