<div class = "container">
    <div class="home-container-wrap">
        <div class="hotel-title main-title">
            <h1>el llorenc</h1>
            <p>parc de la mar</p>
        </div>
        <div class="main-scroll" id="qqq">
            <div class="wrap-main-scroll">
                <div class="scroll-text">
                    <span class="scroll-main-text">
                        Know El Llorenc
                    </span>
                </div>
                <a href="#section-2">
                    <div class="scroll-icon">
                        <i class="fa fa-arrow-down" id="info-down-icon" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="scroll-secound-text">
                    <h2>Your Design Hotel In Palma</h2>
                </div>
            </div>
        </div>
        <div class="topadvantages-point big-wrapper">
            <div class="topadvantages-module show">
                <div class="wrap-topadvantages-module" style="display: flex;">
                    <div class="topadvantages-header">
                       <div class="topadvantages-header-wrap">
                        <p class="topadvantages-title">
                            Advantages
                        </p>
                        <p class="topadvantages-subtitle">
                            Booking Directly With Us
                        </p>
                       </div>
                    </div>
                    <div class="advantage-wrapper">
                        <div class="advantages">
                            <div class="advantage-1">
                                <div class="advantage-1-wrap">
                                    <i class="fa fa-bicycle" aria-hidden="true" id="cycle"></i>
                                    <p>Our Expirence</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-2">
                                <div class="advantage-2-wrap">
                                    <i class="fa fa-bath" aria-hidden="true" id="spa"></i>
                                     <p>Access to the spa included</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-3">
                                <div class="advantage-3-wrap">
                                    <i class="fa fa-gift" aria-hidden="true" id="gift"></i>
                                     <p>Farewell Gift</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-4">
                                <div class="advantage-4-wrap">
                                    <i class="fa fa-beer" aria-hidden="true" id="beer"></i>
                                     <p>Firstminibar included</p>
                                </div>
                            </div>
                        </div>
                        <div class="advantages">
                            <div class="advantage-5">
                                <div class="advantage-5-wrap">
                                    <i class="fa fa-money" aria-hidden="true" id="money"></i>
                                    <p>Best price guaranteed</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hwg-section-2" id="section-2">
            <div class="short-intro-wrap section-2-wrap">
                <h1>live the experience</h1>
                <p class="random-text-2">A magical location facing the Medetarian Sea and next to the Palma Cathedral</p>
                <h2>El Llorenç is more than a hotel – it is a host that will make you feel welcome and cared for</h2>
                <div class="more-info-btn">
                        <h2 class="border-animate" id="showhidebtn">More info</h2>
                </div>
                <div class="more-info-section hide-show" id="moreinfo-showhide" style="display: none;">
                    <span class="hide-show-title">
                        <p>El llorenc</p>
                    </span>
                    <span class="location-text">
                        <h1 class="location">YOUR HOTEL IN PALMA</h1>
                    </span>
                    <span class="boosting-text">
                        <h2 class="boost">Fabulous, Surprising and inviting</h2>
                    </span>
                    <div class="hwg-hideshow">
                        <div class="hwg-hideshow-left">
                            <div class="left-section-title-1 title">
                                <h2 class="title-head">El Llorenc philosophy</h2>
                                <span class="philosophy-ans">
                                    <p class="philosophy">In the heart of the emblematic La Calatrava district, right in the centre of Palma de Mallorca, nestles a truly outstanding hotel, where beauty and comfort converge to offer a one-of-a-kind experience.
                                        <br><br>
                                        An exclusive and welcoming 33 room establishment designed to surprise and delight all its guests. El Llorenç is more than just a hotel. Indeed, it embodies a perfect host, eager to cater to your every need and make you feel truly special. The quintessential city hotel offering a full range of services tailored to meet guests’ needs. A vision based on meeting individual requirements and doing its utmost to provide myriad alternatives, from action-packed activities to total rest and relaxation.
                                        <br><br>
                                        At El Llorenç our aim is to show you the very best Majorca has to offer, making you feel part of the island. Allow us to take you on a journey in time through the streets that line La Calatrava, a modern-day cultural melting pot but also the birthplace of the authentic origin of our island.
                                        <br><br>
                                        We want to surprise and delight you, providing you with a stay that far exceeds your expectations and wishes.</p>
                                </span>
                            </div>
                            <div class="left-section-title-2 title">
                                <h2 class="title-head">La Calatrava - Palma</h2>
                                <span class="palma-ans">
                                    <p class="palma">
                                        Much of this district is built on the site of Palma’s ancient walls, which the locals call Dalt Murada. It is renowned for its unique layout, crisscrossed by the narrow streets of the ancient Moorish city and El Call (the former Jewish quarter). Its striking layout, bustling narrow streets, colours and the wonderful light that floods every corner, together with the buildings and historic palaces all bring this marvellous area and its unique character to life.
                                    </p>
                                </span>
                            </div>
                        </div>
                        <div class="hwg-hideshow-right">
                            <div class="right-section-title-1 title">
                                <h2 class="title-head">Rooftop</h2>
                                <span class="rooftop-ans">
                                    <p class="rooftop">
                                        The terrace boasts the city’s longest infinity pool, part of a multipurpose space designed for leisure and relaxation. Other facilities include a cocktail and gourmet snack bar, as well as a sun terrace furnished with comfortable sunbeds and Balinese beds providing shade from the sun.
                                    </p>
                                </span>
                            </div>
                            <div class="right-section-title-2 title">
                                <h2 class="title-head">DINS Santi Taura</h2>
                                <span class="santi-ans">
                                    <p class="santi">
                                        With the opening of El Llorenç, DINS will be moving from the former carpenter’s workshop in Lloseta, where operations first began, to new premises in the heart of Palma’s La Calatrava district, an authentic cultural melting pot that has influenced recipes that have experienced an authentic revival under the skill and know-how of Santi Taura.
                                    </p>
                                </span>
                            </div>
                            <div class="right-section-title-3 title">
                                <h2 class="title-head">Wellness</h2>
                                <span class="wellness-ans">
                                    <p class="wellness">
                                        An oasis of peace and calm in which to enjoy our 14 metre pool and a wide choice of wellness and beauty treatments created by our experienced therapists.
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="hideshow-footer">
                        <span class="hideshow-footer-title">
                            <h1 class="footer-header">LIVE EL LLORENÇ EXPERIENÇE</h1>
                        </span>
                        <div class="hide-btn">
                            <p class="hide-show-div" id="hide-button">HIDE</p>
                        </div>
                        
                    </div>
                </div>
            </div>
    </section>
</div>