@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
.container{
    padding-bottom: 20px;
    font-family: 'Antic', sans-serif;
    scroll-behavior: smooth;
}
.home-container-wrap{
    background-image: url(../../assets/images/246-mavifoto.jpg);
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hotel-title{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'B612 Mono', monospace;
}
.hotel-title h1{
    font-size: 45px;
    color: white;
    z-index: 1;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'B612 Mono', monospace;
}
.hotel-title p{
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
}
.main-scroll{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 650px;
    cursor: pointer;
    top: 190px;
    height: 236px;
}
.wrap-main-scroll{
    padding: 20px 20px 50px;
    text-align: center;
}
.scroll-icon .fa{
    font-size: 25px;
    font-weight: normal;
    color: white;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    transition: all ease-out .6s;
    transform: rotate(45deg) scale(1) translateZ(0);
}
.scroll-icon .fa::before{
    position: absolute;
    left: 30%;
    top: 29%;
    transform: rotate(-45deg);
    font-size: 16px;
    color: #fff;
}
.scroll-text{
    margin-bottom: 30px;
}
.scroll-main-text{
    background-color: #C2654A;
    color: white;
    border-radius: 10px;
    width: 80px;
    font-weight: bold;
    letter-spacing: 2.5px;
    padding: 10px 60px;
}
.scroll-main-text::after{
    content: '\e919';
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);
    font-family: 'icomoon';
    font-size: 8px;
    color: #C2654A;
}
#info-down-icon:hover{
    background-color: #C2654A;
    color: white;
    transition: all ease-out .6s;
    width: 25px;
    height: 25px;
}
.scroll-icon .fa:hover{
    font-size: 10px;
}
.scroll-secound-text{
    position: relative;
    padding-top: 20px;
}
.scroll-secound-text h2{
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    letter-spacing: 3.5px;
    font-weight: normal;
}
.topadvantages-point{
    top: 222px;
    position: relative;
    min-width: initial;
    padding: 0;
}
.big-wrapper{
    margin: 0 auto;
}
.topadvantages-module.show{
    opacity: 1;
    padding: 0 70px;
    width: 90%;
}
.topadvantages-module{
    position: absolute;
    width: 100%;
    left: 0;
    transition: all ease-out .6s;
}
.wrap-topadvantages-module{
    padding: 25px 70px 20px 0;
    background-color: rgba(0,0,0,0.4);
}
.topadvantages-header{
    width: 25%;
    display: flex;
}
.topadvantages-header-wrap{
    width: 100%;
}
.topadvantages-title{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3.5px;
}
.topadvantages-subtitle{
    color: white;
    display: flex;
    justify-content: center;
}
.topadvantages-header::after{
    content: "|";
    font-size: 35px;
    padding-top: 12px;
    font-weight: lighter;
    display: flex;
    color: white;
    right: 0px;
}

.advantage-wrapper{
    width: 84%;
    overflow: hidden;
    margin: 0 auto;
}
.advantages{
    justify-content: center;
    display: inline-block;
    width: 250px;
    margin: 0 10px;
    color: white;
}
.advantage-1-wrap , .advantage-2-wrap , .advantage-3-wrap , .advantage-4-wrap , .advantage-5-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage-1-wrap p , .advantage-2-wrap p , .advantage-3-wrap p , .advantage-4-wrap p , .advantage-5-wrap p{
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
}
#cycle , #spa , #gift, #beer , #money{
    height: 40px;
    width: 40px;
    background-color: #C2654A;
    color: white;
    border: 1px solid #C2654A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantage-1-wrap::after{
    content: "|";
    font-size: 27px;
    padding-top: 12px;
    font-weight: lighter;
    display: flex;
    color: white;
    right: 0px;
    display: flex;
    padding-left: 40px;
}
.advantage-2-wrap::after{
    content: "|";
    font-size: 27px;
    padding-top: 12px;
    font-weight: lighter;
    display: flex;
    color: white;
    right: 0px;
    display: flex;
    padding-left: 40px;
}
.advantage-3-wrap::after{
    content: "|";
    font-size: 27px;
    padding-top: 12px;
    font-weight: lighter;
    display: flex;
    color: white;
    right: 0px;
    display: flex;
    padding-left: 40px;
}
.advantage-4-wrap::after{
    content: "|";
    font-size: 27px;
    padding-top: 12px;
    font-weight: lighter;
    display: flex;
    color: white;
    right: 0px;
    display: flex;
    padding-left: 40px;
}
.advantage-5-wrap::after{
    content: "|";
    font-size: 27px;
    padding-top: 12px;
    font-weight: lighter;
    display: flex;
    color: white;
    right: 0px;
    display: flex;
    padding-left: 40px;
}
.section-2-wrap{
    padding-top: 200px;
    position: relative;
}
.section-2-wrap h1{
    text-transform: uppercase;
    color: #C2654A;
    font-size: 75px;
    letter-spacing: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arbutus Slab', serif;
}
.section-2-wrap .random-text-2{
    padding-top: 20px;
    font-size: 29px;
    letter-spacing: 3px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 62%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    color: #444;
}

.section-2-wrap h2{
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: rgba(68, 68, 68, 0.747);
    font-weight: normal;
}
.more-info-btn a{
    text-decoration: none;
}
.more-info-btn , .hide-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.more-info-btn h2 , .hide-btn .hide-show-div{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C2654A;
    font-weight: 400;
    letter-spacing:3px;
    padding: 0;
    margin: 0;
    width: 120px;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 50px;
    cursor: pointer;
    user-select: none;
}
.border-animate::after{
    content: "";  
    display: block; 
    width: 80%; 
    padding-top: 2px; 
    border-bottom: 1px solid #C2654A; 
    transition: .5s all ease-in-out; 
}
.border-animate:hover::after{
    width: 15%;
    font-weight: 600;
}
.hide-show-div::after{
    content: "";  
    display: block; 
    width: 80%; 
    padding-top: 2px; 
    border-bottom: 1px solid #C2654A; 
    transition: .5s all ease-in-out; 
}
.more-info-section{
    transition: 0.5s all ease-in-out;
}
.hide-show-div:hover::after{
    width: 15%;
    font-weight: 600;
}
.hide-show-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide-show p{
    color: #444;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 550;
    text-transform: uppercase;
}
.location-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.location-text .location{
    padding-top: 30px;
    color: #C2654A;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.boosting-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boosting-text .boost{
    color: rgba(0, 0, 0, 0.76);
    font-size: 25px;
    padding-bottom: 40px;
}
.hwg-hideshow{
    display: flex;
    margin: 0 50px;
    border-top: 1px solid rgba(68, 68, 68, 0.534);
    border-bottom: 1px solid rgba(68, 68, 68, 0.534);
}
.hwg-hideshow-left{
    width: 50%;
    border-right: 1px solid rgba(68, 68, 68, 0.534);
    padding-bottom: 50px;
}
.title{
    padding-top: 50px;
    margin-left: 50px;
}
.title .title-head{
    display: flex;
    justify-content: flex-start;
    color: #C2654A;
    font-size: 20px;
    letter-spacing: 2px;
}
.philosophy-ans .philosophy, .palma-ans .palma , .rooftop-ans .rooftop
,.santi-ans .santi , .wellness-ans .wellness
{
    font-size: 12px;
    margin-right: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
}
.left-section-title-1::after{
    content: "";
    display: block; 
    width: 7%; 
    padding-top: 30px; 
    border-bottom: 1px solid #C2654A; 
}
.left-section-title-2{
    padding-top: 0;
    margin-top: 20px;
}
.hwg-hideshow-right{
    width: 50%;
}
.right-section-title-1 , .right-section-title-2 {
    border-bottom: 1px solid rgba(68, 68, 68, 0.534) ;
    padding-bottom: 60px;
}
.hideshow-footer{
    padding-top: 50px;
}
.hideshow-footer-title .footer-header{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.671);
}
.hotel-slider{
    margin-top: 50px;
}
.hotel-slider-left{
    width: 40%;
    display: block;
}
.facility-slider-right{
    width: 45%;
    display: block;
}
.hotel-slider-left .hotel-left-title .small-title ,
.facility-slider-right .facility-right-title .facility-small-title{
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
}
.hotel-left-title , .facility-right-title{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}
.hotel-main-title , .facility-main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.small-title::after{
    content: "|";
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 100;
    color: #00000059;
    padding-left: 0;
    padding-right: 0;
}
.facility-small-title::after{
    content: "|";
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 100;
    color: #00000059;
    padding-left: 0;
    padding-right: 0;
}
.hotel-main-title .main-title , .facility-main-title .main-title-facility{
    text-transform: uppercase;
    font-size: 45px;
    font-family: 'Arbutus Slab', serif;
    color: #C2654A;
    letter-spacing: 2px;
}
.hotel-main-title .hotel-subtitle , .facility-main-title .facility-subtitle{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 550;
}
.hotel-main-title .hotel-description , .facility-main-title .facility-description{
    padding-top: 20px;
    width: 60%;
    color: rgba(68, 68, 68, 0.781);
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 2.2px;
    text-align: center;
}
.room-button-wrap ,.facility-button-wrap{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.room-button-wrap .see-room , .room-button-wrap .reserve , .facility-button-wrap .more-info 
, .facility-button-wrap .menu {
    margin-right: 10px;
    border: 2px solid rgba(68, 68, 68, 0.623);
    width: 30%;
    cursor: pointer;
}
.room-button-wrap .see-room:hover{
    transition: 800ms ease;
    background-color: #C2654A;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23925353' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.room-button-wrap .reserve:hover{
    transition: 800ms ease;
    background-color: #C2654A;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23925353' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.room-button-wrap .see-room .see-room-btn , .room-button-wrap .reserve .reserve-btn
,.facility-button-wrap .more-info .more-info-button ,
.facility-button-wrap .menu .menu-btn{
    color: rgba(68, 68, 68, 0.623);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2.2px;
    padding: 0;
    margin: 0;
    padding: 5px 20px;
}
.room-button-wrap .see-room .see-room-btn:hover{
    color: white;
    transition: 800ms ease;
}
.room-button-wrap .reserve .reserve-btn:hover{
    color: white;
    transition: 800ms ease;
}
.hotel-slider-right{
    width: 60%;
}
.hotel-right-wrap{
    padding-right: 20px;
}
.hotel-right-wrap img{
    width: 100%;
    border-radius: 10px;
}
.hotel-room{
    display: flex;
}
#dins{
    margin-bottom: 20px;
    padding-top: 100px;
    padding-right:32px;
    padding-left: 50px;
}
.dins-wrap{
    position: relative;
    color: white;
    border-radius: 5px;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: 50%;
    background-image: url(../../assets/images/83-05panollorenc1800x804dins.jpg);
}
.offers{
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.offers-t{
    width: 97%;
    margin: 0 auto;
    display: flex;
}
.offers-wrap{
    position: relative;
    min-height: 262px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.offer-1-sub-1-wrap{
    width: 30%;
    background-image: url(../../assets/images/519-dsc0301hq.jpg);
}
.offer-1-sub-2-wrap{
    width: 30%;
    background-image: url(../../assets/images/559-producto-1.jpg);
}
.offer-1-sub-3-wrap{
    width: 30%;
    background-image: url(../../assets/images/523-dsc0087hq.jpg);
}
.offer-2-sub-1-wrap{
    width: 30%;
    background-image: url(../../assets/images/523-dsc0087hq.jpg);
}
.offer-2-sub-2-wrap{
    width: 30%;
    background-image: url(../../assets/images/521-dsc05955hq.jpg);
}
.offer-2-sub-3-wrap{
    width: 30%;
    background-image: url(../../assets/images/564-producto-2.jpg);
}
.offer-3-sub-1-wrap{
    width: 30%;
    background-image: url(../../assets/images/566-producto-5.jpg);
}
.offer-3-sub-2-wrap
{
    width: 30%;
    background-image: url(../../assets/images/483-globo.jpg);
}
.offer-3-sub-3-wrap{
    width: 30%;
    background-image: url(../../assets/images/568-producto-6-copia.jpg);
}
.offer-4-sub-1-wrap{
    width: 30%;
    background-image: url(../../assets/images/525-dsc0005hq.jpg);
}
.offer-4-sub-2-wrap{
    width: 30%;
    background-image: url(../../assets/images/576-producto-8.jpg);
}
.offer-4-sub-3-wrap{
    width: 30%;
    background-image: url(../../assets/images/532-dji0108-copia.jpg);
}
.dins-text{
    position: absolute;
    top: 35%;
}
.dins-title{
    padding-left: 100px;
    font-size: 50px;
    letter-spacing: 3rem;
}
#first-text , #secound-text{
    font-size: 6rem;
}
#third-text{
    font-size: 5rem;
}
#fourth-text{
    font-size: 4rem;
}
.dins-sub-heading{
    padding-left: 104px;
    margin-top: 20px;
}
.dins-sub-heading .dins-subheading{
    letter-spacing: 1.24rem;
}
.dins-compliment{
    padding-left: 90px;
    padding-top: 30px;
}
.dins-compliment .compliments{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 21px;
}
.dins-description{
    padding-left: 28px;
    width: 35%;
    text-align: center
}
.dins-desp{
    font-size: 18px;
}
.dins-btn{
    padding-top: 20px;
    width: 38%;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transition: transform 0.5s;
}
.dins-button{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17px;
    border: 3px solid white;
    padding: 0 50px;
    border-radius: 5px;
    transform: translateY(-50%);
    position: absolute;
}
.offer-offer-btn  {
    padding-top: 20px;
    width: 38%;
    justify-content: center;
    display: none;
}
.offer-offer-button  {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 17px;
    border: 3px solid white;
    padding: 0 25px;
    border-radius: 5px;
    transform: translateY(-50%);
    position: absolute;
    left: 33%;
    top: 89%;
    color:white ;
}
.dins-wrap:hover .dins-btn{
    transform: scaleY(1);
}
.offer-1-sub-1-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-1-sub-2-wrap:hover .offer-offer-btn {
    display: flex;  
}
.offer-1-sub-3-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-2-sub-1-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-2-sub-2-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-2-sub-3-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-3-sub-1-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-3-sub-2-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-3-sub-3-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-4-sub-1-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-4-sub-2-wrap:hover .offer-offer-btn {
    display: flex;
}
.offer-4-sub-3-wrap:hover .offer-offer-btn {
    display: flex;
}
.dins-button:hover{
    transition: 800ms ease;
    background-color: #C2654A;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23925353' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.facility-slider-left{
    width: 55%;
}
.facility-left-wrap{
    margin-left: 45px;
}
.facility-left-wrap img{
    width: 100%;
    height: 110%;
    height: 650px;
    border-radius: 10px;
}
.offers-heading .offer-title{
    color: #C2654A;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 2px;
    font-weight: 550;
    position: relative;
    margin: 0;
}
.offer-title::after{
    content: "";
    position: absolute;
    top:15px;
    width: 33px;
    height: 2px;
    background: rgba(68, 68, 68, 0.493);
    left: 129%;
}
.offers-heading{
    padding-top: 50px;
    display: flex;
    padding-left: 42px;
    align-items: center;
}
.offers-heading span{
    position: absolute;
    left: 12%;
    padding-left: 4%;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.maps-contact{
    display: flex;
}
.maps-contact{
    padding: 20px 45px;
}
.maps{
    width: 50%;
    height: 700px;
}
.contact-wrap{
    padding-top: 50px;
    width: 50%;
    margin-left: 30px;
}
.back-to-top{
    display: flex;
    justify-content: flex-end;
    height: 50px;
}
.back-to-top .fa {
    font-size: 30px;
    color: #9D9C97;
    font-weight: 300;
    border: 2px solid #9D9C97;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-sec {
    margin-top: 30px;
    border-top: 1px solid #C0BFB9;
    border-bottom: 1px solid #C0BFB9;
}
.contacts{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.heading h1{
    color: #C2654A;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 2px;
}
.address-loc {
    width: 30%;
}
.address-loc h2{
    font-size: 15px;
}
.phn-no-sec , .how-to-arrive-sec , .social-links-sec{
    margin-top: 30px;
    border-bottom: 1px solid #C0BFB9;
}

.phn-no p{
    font-size: 15px;
}
.arrive-route , .phn-no , .social-link{
    width: 30%;
}
.arrive-route h1{
    font-size: 15px;
}